:root {
    --main-background-color: #091125;
    --main-lime-color: #a4d321;
    --text-color-dark-bg: #fff;
    --text-color-light-bg: #1D1D1D;
    --text-hover-color: #ddd;
    --border-radius: 10px;
}

body {
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
}

td {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font: normal normal 600 35px/45px Work Sans;
    letter-spacing: 0px;
    color: #250E30;
    ;
}

h3 {
    font: normal normal 600 16px/24px Work Sans;
    letter-spacing: 0px;
    color: var(--text-color-light-bg);
}

p {
    font: normal normal normal 16px/24px Work Sans;
    letter-spacing: 0px;
    color: var(--text-color-light-bg);
}

.custom__header-blue {
    color: #045FA0 !important;
}

.custom__middle {
    align-self: center;
}

.custom__button {
    padding: 10px 20px;
    max-width: 286px;
    color: var(--text-color-dark-bg);
    border: 1px solid var(--text-color-dark-bg);
    border-radius: var(--border-radius);
    text-transform: uppercase;
    cursor: pointer;
    background: #1D1D1D 0% 0% no-repeat padding-box;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.custom__button:hover {
    color: var(--text-hover-color);
}

.custom__z-index-5{
    z-index: 5 !important;
}

.custom__toggler {
    border: none;
}

.custom__toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom__card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: var(--border-radius);
    border: none !important;
    opacity: 1;
    margin: 0 1rem;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.custom__center-header {
    text-align: center;
}

.navbar {
    padding: 45px 0;
    background-color: var(--main-background-color);
    z-index: 10;
}

.navbar-toggler-icon {
    margin-right: -25px;
}

.custom__verical-line {
    position: relative;
    padding-left: 50px;
}

.custom__verical-line:before {
    content: " ";
    display: block;
    height: 3px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    background: var(--main-background-color);
}

.custom__flag {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logo {
    height: 30px;
}

.nav-item a {
    color: var(--text-color-dark-bg);
    position: relative;
}

.nav-item a:hover {
    color: var(--main-lime-color);
}

.login-button {
    border: 1px solid var(--text-color-dark-bg);
    border-radius: var(--border-radius);
    padding: 3px 10px;
    margin: 4px 0;
}

.login-button:hover {
    border-color: var(--main-lime-color);
}

.nav-item a:focus,
.dropdown-toggle:focus {
    color: var(--text-color-dark-bg);
}

.lang-menu {
    min-width: auto;
    background-color: var(--main-background-color);
    border-color: var(--text-color-dark-bg);
}

.lang-menu .dropdown-item:hover {
    background-color: transparent;
}

.custom__active {
    color: var(--main-lime-color);
}

.accordion-button {
    position: relative;
    padding-left: 2rem;
}

.accordion-button:hover{
    background-color: #00000013;
}

.accordion-button::before {
    position: absolute;
    left: 8px;
    margin-top: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
}

.accordion-button:not(.collapsed) {
    background-color: #00000013;
    box-shadow: none;
    color: var(--text-color-light-bg);
}


#index-1 {
    background-color: var(--main-background-color);
    overflow-y: visible;
    min-height: 630px;
    margin-top: -132px;
    padding-top: 128px;
    padding-bottom: 130px;
}

#index-1 .row{
    position: relative;
}

.overflowing_background {
    background: url(../img/homepage-illustration-1.png) no-repeat;
    width: 100%;
    height: 910px;
    bottom: -208px;
    left: 50%;
    position: absolute;
}


#index-1 h1 {
    font: normal normal bold 64px/70px Work Sans;
}

#index-1 p {
    font: normal normal normal 20px/30px Work Sans;
}

#index-1 h1,
#index-1 p,
#index-1 a {
    color: var(--text-color-dark-bg);
    margin: 2rem 0;
}

#index-1 h1 {
    margin-top: 28px;
}

.start-investing-button {
    border-color: transparent;
    background: transparent linear-gradient(264deg, #A4D321 0%, #6E862B 100%) 0% 0% no-repeat padding-box;
}

#index-1 .custom__button:hover {
    color: var(--text-hover-color);
}

#index-2 {
    min-height: 315px;
    display: flex;
    align-items: center;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    position: relative;
    z-index: -1;
}

#index-2 .custom__header-blue,
#about-3 .custom__header-blue {
    font: normal normal 600 32px/52px Work Sans;
}

#index-2 h1,
#index-2 p {
    position: relative;
}

.index-2-bg-image {
    position: absolute;
    top: 70px;
    background-image: url('../img/two-arrows.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    height: 200px;
    width: 250px;
    z-index: -1;
}

#index-2 .paragraph-container {
    position: relative;
}

#index-2 .paragraph-container p {
    padding-left: 2rem;
}

#index-2 .paragraph::before {
    content: "";
    border-top: 2px solid #000;
    width: 1.5rem;
    position: absolute;
    left: 0;
    top: 11px;
}


#index-4 {
    min-height: 425px;
    display: flex;
    align-items: center;
    background-image: url('../img/key-features.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

#index-7 {
    display: flex;
    align-items: center;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    min-height: 300px;
    overflow: hidden;
}

#index-7 .background-img-container{
    position: relative;
    overflow: visible;
}

#index-8 .how-to-start-card {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    border-radius: var(--border-radius);
    padding: 30px;
}

#index-8 h3,
#index-8 p,
#index-8 a {
    text-align: center;
}

footer {
    z-index: 10;
    position: relative;
}

.footer {
    background-color: var(--main-background-color);
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: var(--text-color-dark-bg);
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer h4 {
    color: var(--text-color-dark-bg);
    font: normal normal 600 16px/24px Work Sans;
    text-transform: uppercase;
    margin-bottom: .75rem;
}

.footer p {
    color: var(--text-color-dark-bg);
}

.footer li {
    margin-bottom: .5rem;
}

.footer a {
    text-decoration: none;
    color: var(--text-color-dark-bg);
    font: normal normal normal 16px/24px Work Sans;
    letter-spacing: 0px;
    margin: 0;
}

.social-link-list li {
    display: inline;
    margin: 0 .25rem;
}

.footer .links-list li {
    margin-bottom: 0;
}

#about-1 {
    margin-bottom: 10rem;
    text-align: center;
    background-color: #F9F9F9;
    padding-bottom: 10rem;
}

.about-image-1 {
    position: absolute;
    max-width: 700px;
    left: 50%;
    transform: translateX(-50%);}

#about-1 h1,
#about-2 h1 {
    margin-bottom: 1rem;
}

#about-3 {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    padding-left: 20%;
    padding-right: 20%;
}


#about-3 h3 {
    padding: 0;
}

#about-3 p {
    /* text-align: center; */
    padding: 0;
}

#about-4 .custom__card-container {
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

#about-4 .custom__card {
    display: grid;
    background-color: #F9F9F9;
    border-radius: var(--border-radius);
    position: relative;
    padding: 1rem;
    margin-top: 75px;
    height: 275px;
}


#about-4 .custom__card img {
    display: grid;
    place-items: center;
    border-radius: var(--border-radius);
    position: relative;
    top: -75px;
    margin-bottom: -75px;
}

#about-4 .custom__card h3 {
    padding-top: .5rem;
    padding-left: 2rem;
    position: relative;
}

#about-4 .custom__card h3::before {
    content: "";
    border-top: 2px solid #000;
    width: 1.5rem;
    position: absolute;
    left: 0;
    top: 20px;
}




#about-5 {
    min-height: 450px;
    position: relative;
}

#about-5 h1 {
    text-align: center;
    margin-bottom: 2rem;
}

#about-5 h3 {
    margin-top: .25rem;
}

#about-5 .viasms-logo {
    width: 83px;
    height: 45px;
    margin-top: .5rem;
}

#about-5 p {
    margin-top: .25rem;
}

#about-5 a {
    text-decoration: underline;
    font: normal normal 600 16px/24px Work Sans;
    letter-spacing: 0px;
    color: #045FA0;
    margin-top: .25rem;
}

#about-5 .map-image-container {
    position: relative;
}

#about-5 .map-image-container img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 40%;
    width: 150%;
}

#about-6 a{
    text-decoration: underline;
}

#about-6 .loan-originators-container {
    position: relative;
}

#about-6 .loan-originators-background {
    position: absolute;
    height: 500px;
    width: auto;
    left: -210px;
    top: -190px;
}

#about-7 {
    background: #F7F7F7 0% 0% no-repeat padding-box;
}

#loan_type div{
    width: 100px;
    
}


#about-8 {
    min-height: 325px;
    background: #f7f7f7 no-repeat 50% url(../img/sign-up-and-invest.png);
    display: flex;
    align-items: center;
}

#about-8 img {
    max-width: 385px;
}

#how-it-works-1 {
    background-color: #F7F7F7;
}

#how-it-works-1 .custom__card-container {
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin-top: 2rem;
}

#how-it-works-1 .custom__card {
    background-color: var(--text-color-dark-bg);
    border-radius: var(--border-radius);
    position: relative;
    padding: 1rem;
    margin-top: 25px;
    height: 250px;
    max-width: 250px;
}

#how-it-works-1 .custom__card img {
    scale: .75;
}

#how-it-works-1 .custom__round-circle {
    display: grid;
    place-items: center;
    position: relative;
    top: -60px;
    margin-bottom: -40px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--text-color-dark-bg);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 5px solid #f7f7f7;
}

.custom__h100px{
    min-height: 80px;
}


#how-it-works-2 {
    min-height: 325px;
    display: flex;
    align-items: center;
}

#how-it-works-2 img {
    max-width: 575px;
}

.custom__big-number{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom__big-number img{
    height: 50px;
}


.custom__content-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom__content-middle h3 {
    margin: 0;
}

.custom__content-middle p {
    margin: 0;
}

.start-investing-card {
    background-color: #F9F9FA;
    border-radius: var(--border-radius);
    padding: 3rem;
    position: relative;
}

.start-investing-card img {
    position: absolute;
    top: 60px;
    left: -65px;
}

#how-it-works-4 {
    background-color: #F7F7F7;
}

#how-it-works-4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

#how-it-works-5 {
    background: url(../img/sign-up-and-invest.png) 50% no-repeat;
}

#security-1 {
    background: #F9F9F9;
    min-height: 325px;
    position: relative;
}

.security-image-container {
    position: relative;
}

.security-image-container img {
    position: absolute;
    max-width: 850px;
    transform: translate(-50%, -23%);    left: 50%;
}

#security-2 {
    margin-top: 10rem;
}

.security-card-border {
    border: 10px solid #fff;

}

.security-card {
    background-color: #F9F9FA;
    border-radius: var(--border-radius);
    padding: 1rem;
    height: 100%;
}

.security-table .security-card {
    background-color: transparent;
}




.security-table .security-card p {
    margin-left: 2rem;
    margin-bottom: 0;
}

.security-table .security-card p::before {
    content: "";
    background: url(../img/icon-checkmark.svg) no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 0.5rem;
    top: 1rem;
}

.security-table tr {
    border-bottom: 1px solid #DDDADA;
    position: relative;
}

.security-table td {
    vertical-align: top;
    padding: .5rem;
    padding-left: .5rem !important;
}


.security-table tr:last-child {
    border-bottom: none;
}

#security-5 {
    background: transparent linear-gradient(0deg, #F7F7F7 0%, #F7F7F700 100%) 0% 0% no-repeat padding-box;
}

.single-section-page {
    background-color: #f3f3f3;
}

.single-section-page label {
    margin: 0;
}

.single-section-card {
    background-color: #fff;
    border-radius: var(--border-radius);
}

.login-image {
    position: relative;
    z-index: 1;
}

.login-image img {
    position: absolute;
    width: 200%;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 15%;}

.custom__form-border {
    border: 2px solid var(--text-color-light-bg);
}

.forgot-password-image {
    position: relative;
}

.forgot-password-image img {
    position: absolute;
    width: 550px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.error-404 {
    position: relative;
}

.error-404 img {
    position: absolute;
    width: 650px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    }

.back-to-home-btn {
    display: block;
    width: 100%;
    text-align: center;
}

#register {
    background-color: #F7F7F7;
    padding: 5rem 0;
}

#register .steps-wrap {
    padding: 0;
}

#register .steps-wrap ul {
    display: flex;
    justify-content: center;
}

#register .steps-wrap li {
    text-align: left;
    position: relative;
    font: normal normal normal 16px/24px Work Sans;
    letter-spacing: 0px;
    color: #767676;
    padding: 10px 20px 10px 30px;
    width: 200px;
    margin: 0 2rem;
    background-color: #fff;
    border-radius: var(--border-radius);
    list-style: none;
}

#register .steps-wrap h3:not(.step-number) {
    margin: 0;
    width: max-content;
}

#register .steps-wrap .step-number {
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    background: #fff;
    border: 4px solid #f7f7f7;
    border-radius: 50%;
}

.active-step .step-number {
    background: #091125 0% 0% no-repeat padding-box !important;
    border: 5px solid #F7F7F7 !important;
    color: #fff !important;
}

.register-form {
    background-color: #fff;
    border-radius: var(--border-radius);
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
}

.register-wrap {
    max-width: 575px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.register-radio-buttons ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

.register-radio-buttons li {
    text-align: left;
    list-style: none;
}

input[type='radio'] {
    margin-right: 5px;
}

.span-message {
    font: normal normal normal 12px/24px Work Sans;
    letter-spacing: 0px;
    color: #182312;
    display: inline-block;
    line-height: 1rem;
    margin-top: .5rem;
}

.span-error-message {
    font: normal normal normal 12px/24px Work Sans;
    letter-spacing: 0px;
    color: red;
    display: inline-block;
    line-height: 1rem;
    margin-top: .5rem;
}


#register .custom__button {
    margin: 0 auto;
    display: block;
    width: 265px;
    text-align: center;
}

.form-label {
    margin: 0;
}

#verify-account {
    background-color: #f7f7f7;
    padding: 5rem 0;
}

#verify-account .accordion-button::after,
#index-6 .accordion-button::after {
    display: none;
}

#verify-account .accordion-button:not(.collapsed):before,
#index-6 .accordion-button:not(.collapsed):before {
    rotate: 180deg;
    margin-top: -1rem;
}

#verify-account .accordion-button,
#index-6 .accordion-button {
    position: relative;
}

#verify-account .accordion-button::before,
#index-6 .accordion-button::before {
    content: "";
    background: no-repeat url(../img/chevron-down.svg);
    margin-right: 0.75rem;
    height: 15px;
    min-width: 13px;
}

#index-6 .accordion-button:not(.collapsed):before {
    margin-top: -1.25rem;
}

#index-6 .accordion-button::before{
    position: absolute;
    left: 8px;
    margin-top: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
}

#verify-account .accordion-item,
#verify-account .accordion-button,
#verify-account .cards-container,
#verify-account .custom__card {
    background-color: #f7f7f7 !important;
}

#verify-account .accordion-button:not(.collapsed) {
    background-color: #00000020 !important;
    box-shadow: none;
    color: var(--text-color-light-bg);
}

#verify-account .accordion-button:hover{
    background-color: #00000020 !important;
 
}

#verify-account .main-container,
#profile .main-container {
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 2rem;
}

#verify-account .custom__header {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--text-color-light-bg);
}

#verify-account .asset-image {
    align-self: center;
}

#verify-account .cards-container,
#profile .cards-container {
    padding: 0 1rem;
}

#verify-account .custom__card,
#profile .custom__card {
    padding: 1rem;
    background-color: #fff;
    border-radius: var(--border-radius);
}

#profile table {
    width: 100%;
}

#help-icon-1,
#help-icon-2,
#help-icon-3{
    position: relative;
    padding-left: 1.5rem;
}

#help-icon-1::before,
#help-icon-2::before,
#help-icon-3::before{
    content: "";
    height: 1rem;
    width: 1rem;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
}

#help-icon-1::before{
    background: url(../img/update-passwrd.svg) no-repeat;
}

#help-icon-2::before{
    background: url(../img/2-factor-authetication.svg) no-repeat;
}
#help-icon-3::before{
    background: url(../img/report-settings.svg) no-repeat;
}

#profile .custom__header-blue img{
    height: 12px;
}

.easy-steps {
    display: flex;
}

.easy-steps p {
    margin: .25rem 0;
}

.easy-steps div {
    height: 25px;
    min-width: 25px;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font: normal normal medium 16px/24px Work Sans;
    margin-right: .5rem;
}

.easy-step-1 {
    background-color: #469BE0;
}

.easy-step-2 {
    background-color: #3482C1;
}

.easy-step-3 {
    background-color: #2D62A6;
}

#profile {
    background-color: #f7f7f7;
    min-height: 350px;
    padding: 2rem 0;
}

#profile .custom__header {
    border-bottom: 2px solid var(--text-color-light-bg);
}

#profile tr {
    border-bottom: 1px solid #DDDADA;
}

#profile td {
    padding: .5rem;
}

#profile tr:first-child {
    border-bottom: 3px solid #DDDADA;
}

#profile tr:last-child {
    border-bottom: none;
}

#profile td:nth-child(2) {
    font-weight: bold;
}

.custom__border_bottom {
    border-bottom: 3px solid #DDDADA;

}

.custom__card ul {
    list-style: none;
    padding-left: 0;
}

#how-it-works-4 h3,
#security-2 h3 {
    padding-left: 1.5rem;
}

#how-it-works-4 .text-container,
.security-card {
    position: relative;
}

#how-it-works-4 h3::before,
#about-3 p::before{
    content: "";
    border-top: 2px solid #000;
    width: 1rem;
    position: absolute;
    left: 12px;
    top: 11px;
}
#about-3 p{
    padding-left: 2rem !important;
    position: relative;
}
#about-3 p::before{
    left: 0;
    width: 1.5rem;
}


#security-2 h3::before {
    content: "";
    border-top: 2px solid #000;
    width: 1rem;
    position: absolute;
    left: 12px;
    top: 26px;
}

.custom__no-background {
    background-color: transparent;
}


/* ================SHOW ON SCREENS WIDER THAN 767px ================*/

@media (min-width:767px) {

    .container,
    .container-lg {
        max-width: 1200px;
    }


    table.responsive-table {
        width: 100%;
    }

    table.responsive-table th {
        text-align: left;
    }

    table.responsive-table td {
        min-height: 1.625em;
        word-wrap: break-word;
    }

    .custom__active {
        color: var(--text-color-dark-bg);
    }

    .custom__nav-item .custom__active::before {
        content: '';
        position: absolute;
        background: var(--text-color-dark-bg);
        border-radius: 100%;
        height: 8px;
        width: 8px;
        transform: translateX(-50%);
        bottom: 0px;
        left: 50%;
    }

    .nav-item{
        text-align: center;
    }

    .lang-menu .custom__active {
        color: var(--main-lime-color);
    }

    #about-1 p{
        width: 50%;
        margin: 0 auto;
    }

    #index-2 h3,
    #index-2 p {
        padding-right: 30%;
        text-align: left;
    }

    #about-3 h3 {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }

    #about-3 p {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }

    #verify-account .cards-container,
    #profile .cards-container {
        padding: 0 1rem;
        position: relative;
    }

    .stick-to-bottom {
        position: absolute;
        bottom: 0;
        margin-right: 2rem;
    }

    #verify-account .custom__card,
    #profile .custom__card {
        padding: 1rem;
        background-color: #fff;
        border-radius: var(--border-radius);
    }

    .single-section-page {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #index-7 .background-img{
        background: url(../img/start-investing.png) no-repeat;
        position: absolute;
        transform: translateX(-50%);
        left: 40%;
        bottom: -90%;
        width: 635px;
        height: 600px;
        scale: .75;
    }
    
}

@media only screen and (max-width: 810px) {

    .custom__no-background {
        /* background-color: transparent; */
        background-image: linear-gradient(top, #091125, #091125 15%, transparent 15%, transparent 100%);
        background-image: -webkit-linear-gradient(top, #091125, #091125 15%, transparent 15%, transparent 100%);
    }
}

@media only screen and (max-width: 767px) {
    
    *:focus,
    *.focus-visible {
        box-shadow: none !important;
    }

    .custom__no-background {
        background-color: transparent;
    }

    section {
        overflow-x: clip;
    }


    #index-1 h1 {
        font: normal normal bold 40px/50px Work Sans !important;
    }

    h1 {
        font: normal normal 600 24px/34px Work Sans !important;
    }

    h3 {
        font: normal normal 600 16px/24px Work Sans !important;
    }

    p {
        font: normal normal normal 16px/24px Work Sans !important;
    }

    #index-1 h1,
    #index-1 p,
    #index-1 a {
        margin: 1rem 0;
        position: relative;
    }

    #index-1 h1 {
        text-align: start;
        padding-right: 25%;
    }

    #index-1 p {
        text-align: start;
        padding-right: 50%;
    }

    .start-investing-button {
        text-align: center;
        padding: 11px 35px;
        width: auto;
    }

    .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .container-lg {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .navbar-collapse {
        padding: 2rem 0;
    }

    .nav-link,
    .dropdown-item {
        color: var(--text-color-dark-bg);
        font: normal normal medium 20px/24px Work Sans;
    }

    .nav-item {
        list-style: none;
    }

    .dropdown-item:hover {
        color: var(--main-lime-color);
    }

    .custom__active {
        color: var(--main-lime-color);
    }

    .lang-menu {
        position: absolute !important;
        left: 0 !important;
    }

    #index-1 {
        height: 909px;
        position: relative;
        overflow-x: clip;
    }

    .main_image {
        position: relative;
    }

    .main_image img {
        position: absolute;
        top: -18px;
        left: 40px;
        width: 760px;
    }

    #index-1 h1 {
        margin-top: 65px;
    }

    #index-2 h1 {
        font: normal normal 600 24px/34px Work Sans !important;
    }

    #index-2 h3 {
        text-align: left;
    }

    .two-arrows-image {
        position: absolute;
        width: 150px;
        top: 30px;
    }

    #index-2 .custom__header-blue,
    #about-3 .custom__header-blue {
        font: normal normal 600 24px/40px Work Sans !important;
    }

    table.responsive-table,
    table.responsive-table thead,
    table.responsive-table tbody,
    table.responsive-table th,
    table.responsive-table td,
    table.responsive-table tr {
        display: block;
        font-size: 12px;
    }

    table.responsive-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.responsive-table th {
        padding: .25em;
    }

    table.responsive-table tr {
        border-top: 3px solid #dee2e6;
    }

    table.responsive-table td {
        border: none;
        border-bottom: 1px solid #dee2e6;
        position: relative;
        padding-left: 50%;
        text-align: right;
        vertical-align: middle;
        padding: .5rem 1rem;
        font-weight: 600;
        color: #333839;
    }

    table.responsive-table td:before {
        position: absolute;
        left: .375em;
        width: 45%;
        padding-right: .625em;
        white-space: nowrap;
        font-weight: 400;
        text-align: right;
        content: attr(data-label);
    }

    td::before {
        text-align: left !important;
        font: normal normal 600 16px/24px Work Sans !important;
    }

    td {
        font: normal normal normal 16px/24px Work Sans !important;
        text-align: left !important;
        padding-left: 50% !important;
    }

    #index-4 {
        align-items: unset;
        position: relative;
    }

    .carousel-indicators {
        top: 285px;
    }


    .carousel-indicators [data-bs-target] {
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    .carousel-inner {
        position: absolute;
        transform: translateY(50%);
        bottom: -130px;
    }


    #index-5 .custom__header,
    #index-7 {
        text-align: center;
    }


    #index-7 .custom__button {
        display: block;
    }

    #index-7 .custom__section {
        margin-bottom: 18rem;
    }


    #index-7 .background-img{
        background: url(../img/violet-gradient.svg) no-repeat;
        position: absolute;
        transform: translateX(-50%);
        left: 40%;
        bottom: -600px;
        width: 635px;
        height: 600px;
        scale: 1;
    }

    #index-7 .hand-lightbulb-image{
        background: url(../img/hands-with-lightbulb.svg) no-repeat;
        position: absolute;
        transform: translateX(-50%);
        left: 100%;
        bottom: -806px;
        width: 635px;
        height: 600px;
        scale: 1;
    }



    #index-8 .how-to-start-card {
        position: relative;
    }

    #security-2 .security-card::before,
    #security-2 .security-card::after {
        content: "";
        position: absolute;
        top: 0;
        width: 70px;
        height: 100%;
        background-color: #FAFAF9;
    }

    #security-2 .security-card::before {
        left: -70px;
    }

    #security-2 .security-card::after {
        right: -70px;
    }

    #security-2 .security-card {
        border-radius: 0;
    }
    

    .accordion-button:not(.collapsed) {
        background-color: #00000013;
        box-shadow: none;
        color: var(--text-color-light-bg);
    }

    .footer .accordion-item {
        background-color: transparent;
        border-color: transparent;
    }

    .footer .accordion-button,
    .footer .accordion-button:not(.collapsed) {
        background-color: transparent;
        box-shadow: none;
        padding: 0 1rem;
        /* align-items: baseline */
    }

    .footer .accordion-button h3 {
        margin: 0;
    }

    .accordion-button::after {
        background: no-repeat url(../img/chevron-down.svg);
        margin-left: 7px;
        height: 15px;
        width: 20px;
        margin-top: 5px;
    }

    .accordion-button:not(.collapsed)::after {
        background: no-repeat url(../img/chevron-down.svg);
        margin-left: 0;
        height: 15px;
        width: 20px;
        margin-top: -5px;
    }

    .footer .accordion-button::after {
        margin-top: -7px;
        filter: invert(100%);
    }

    .footer .accordion-button:not(.collapsed)::after {
        margin-top: -20px;
        filter: invert(100%);
    }


    .footer {
        padding: 2rem 0;
    }

    .footer .logo {
        margin-bottom: 1rem;
    }

    #about-1 {
        margin-bottom: 0;
    }

    .about-image-1 {
        width: 320px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    #about-3 {
        padding: 0;
        text-align: left;
    }

    #about-3 .custom__center-header {
        text-align: left;
    }

    #about-3 p {
        text-align: left;
    }

    #about-4 {
        height: 520px;
    }

    #about-4 .carousel-indicators [data-bs-target] {
        background-color: #250e30;
        opacity: .25;
    }

    #about-4 .carousel-indicators .active {
        opacity: 1;
    }


    #about-4 .carousel-indicators {
        top: 360px;
    }

    #about-4 .carousel-inner {
        bottom: -170px;
    }



    #about-5 {
        height: 800px;
        background-color: #F9F9F9;
    }

    #about-5 p {
        padding: 0;
    }

    #about-5 {
        height: 100%;
    }

    #about-5 .map-image-container img {
        top: 185px;
        max-height: 46rem;
        width: 250%;
        left: 32%;
    }
    

    #about-5 .map-card {
        margin-left: 0;
        margin-top: 25rem;
        background: #fff;
        border-radius: 10px;
        padding: 1rem;
    }

    #about-5 .map-image {
        scale: 2.75;
        transform: translateX(-50%);
        left: 121%;
        top: 2.5rem;
        }

    #about-6 .loan-originators-container {
        position: relative;
        padding-bottom: 1rem;
        margin: 0 auto;
        width: 100%;
    }

    #about-6 .loan-originators-background {
        position: absolute;
        width: 162%;
        transform: translateX(-50%);
        left: 70%;
        top: -290px;
        scale: 1.5;
        z-index: -1;
    }

    #about-6 .under-logo-text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-right: 4rem;
    }


    #about-7 .viasms-logo {
        height: 25px;
    }

    #about-7 .custom__flag {
        height: 25px;
        width: 25px;
    }

    #about-7 td {
        padding-left: 55% !important;
    }

    #about-8 {
        height: 500px;
        background-position: bottom;
        background-color: #f7f7f7;
    }

    #about-8 .image-container {
        position: relative;
    }

    #about-8 .text-container {
        margin-top: -220px;
    }

    #about-8 .binocular-image {
        position: absolute;
        transform: translateX(-55%);
        left: 50%;
        width: 100%;
        top: 5px;
    }

    #about-8 p,
    #about-8 h1 {
        text-align: center;
    }

    #about-8 .custom__button {
        display: block;
        text-align: center;
    }


    #how-it-works-1 .custom__card {
        margin-top: 3rem;
        height: auto;
        max-width: 100%;

    }

    #how-it-works-1 .custom__round-circle {
        height: 80px;
        width: 80px;
        top: -70px;
    }

    #how-it-works-1 .custom__card img {
        scale: 1;
    }

    #how-it-works-2 {
        align-items: unset;
        height: 875px;
    }

    #how-it-works-2 .paragraph {
        padding-left: 1.5rem;
        position: relative;
    }

    #how-it-works-2 .paragraph::before {
        content: "";
        border-top: 2px solid #000;
        width: 1rem;
        position: absolute;
        left: 0;
        top: 11px;
    }

    #how-it-works-2 .image-container {
        position: relative;
    }

    #how-it-works-2 .image-2 {
        position: absolute;
        transform: translateX(-50%);
        left: 55%;
        max-width: 100%;
        top: -40px;    }

    #how-it-works-3 .start-investing-card {
        background-color: transparent;
        padding: 2rem 0;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    #how-it-works-3 .custom__button {
        display: block;
        text-align: center;
        z-index: 2;
    }

    #how-it-works-3 .image-container {
        position: relative;
    }

    #how-it-works-3 .image-2 {
        transform: translateX(-50%);
        left: 90%;
        top: -115px;
    }

    #how-it-works-4 {
        min-height: 900px;
        position: relative;
    }

    #how-it-works-4 .image-container {
        position: relative;
        min-height: 200px;
    }


    #how-it-works-4 img {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        max-width: 110%;
        margin: 0;
        top: 50%;
    }


    #how-it-works-5 .custom__button {
        display: block;
        text-align: center;
    }

    #security-1 {
        background-color: #fff;
    }

    #security-image {
        position: absolute;
        width: 140%;
        transform: translateX(-50%);
        left: 55%;
        top: 130px;
        margin-left: 0;
        margin-top: 0;
    }

    #security-2 {
        margin-top: 7rem;
    }


    .register-wrap {
        padding: 1rem .5rem;
    }

    #verify-account {
        height: 100%;
    }

    #verify-account .container-lg {
        padding: 0;
    }

    #verify-account .cards-container,
    #profile .cards-container {
        padding: 0;
    }

    #verify-account .main-container {
        padding: 1rem 3rem;
    }

    .overlay {
        width: 100%;
        height: 100%;
        background: #665b5b00 0% 0% no-repeat padding-box;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .fixed-position {
        position: fixed;
        overflow-y: scroll;
    }

    .login-image img {
        width: 600px;
        position: absolute;
        left: 50%;
        top: 350px;
        margin-left: -100px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .single-section-page {
        background-color: #fff;
        height: 45rem;
    }

    .forgot-password-image img {
        position: absolute;
        width: 600px;
        top: 175px;
        left: 50%;
        transform: translateX(-50%);
    }

    .error-404 img {
        top: 232px;
        left: 62%;
        width: 500px;
        transform: translateX(-50%);
    }
    #profile{
        height: 100%;
        padding: 0;
    }

    #profile .container-lg{
        padding: 1rem 0 0 0 ;
    }

    #profile table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
    }

    #profile table img{
        vertical-align: baseline;
        height: .75rem;
    }
    #profile table tr:first-child td{
        padding: .75rem 0;
    }

    #profile table tr td {
        display: block;
        padding: 0 !important;
        min-height: 30px;
    }

    #profile table tr td:first-child {
        padding-top: .5rem !important;
        padding-bottom: .25rem !important;

    }

    #profile table tr td:nth-child(2) {
        font-weight: bold !important;
        padding-bottom: .5rem !important;
        padding-top: .25rem !important;

    }

    #profile .cards-container{
        border-radius: 0;
    }
    #profile .cards-container .custom__card{
        padding: 2rem 3rem;
        margin: 0;
    }
    #profile .cards-container .custom__card:first-child{
        background-color: transparent;
    }

    #profile .custom__border_bottom{
        border-bottom: 1px solid #DDDADA;
    }
    .overflowing_background {
        top: -51px;
        left: 30%;
    }


}

@media only screen and (max-width: 576px) {

    .overflowing_background {
        top: -51px;
        left: 6%;
    }

    .security-image-container img {
        position: absolute;
        max-width: 500px;
        transform: translate(-50%, -30%);
        left: 50%;
    }


    #register {
        padding-top: 3rem;
        padding-bottom: 0;
    }

    #register .container-lg {
        padding-left: 0;
        padding: 0;
    }

    #register .steps-wrap {
        padding: 0;
        position: relative;
    }

    #register .steps-wrap ul {
        padding: 0;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        /* width: 80vw; */

    }

    .register-form {
        margin: 0;
        margin-top: 4rem;
    }

    #register .steps-wrap li {
        margin: 0 1.5rem;
        padding: 10px 10px 10px 30px;
    }

    #register .steps-wrap li:last-child {
        margin-right: auto !important;
    }


    #register .steps-wrap li:not(.active-step) {
        padding: 10px 0;
        background: #f7f7f7;
        width: max-content;
    }

    #register .steps-wrap li:not(.active-step).step-number {
        border: 2px solid #f7f7f7;
        left: 50%;
        transform: translateX(-50%);
    }

    #verify-account .main-container {
        padding: 1rem 2rem;
    }


}


/* ================SHOW ON SCREENS WIDER THAN 960px ================*/
@media (min-width:960px) {

    #index-7 {
        background-position: -70px;
    }


    #about-3 p {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (min-width:992px) {
    #index-5 h1 {
        text-align: left;
    }
}

@media (max-width:992px) {
    #about-8 img {
        max-width: 410px;
    }

    #how-it-works-2 img {
        max-width: 515px;
    }
}

@media (min-width:1200px) {
    #index-7 {
        background-position: 60px;
    }

    #about-3 p {
        padding-left: 17%;
        padding-right: 17%;
    }

    .single-section-page {
        padding-left: 15%;
        padding-right: 15%;
    }


}

@media (min-width:1500px) {
    #index-7 {
        background-position: 200px;
    }

}